<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/emp</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">qwerty</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="default_schema">java</property>
        <property name="connection_pool_size">1</property>




        <mapping class="lab4.hiber.entity.empFull"/>
        <mapping class="lab4.hiber.entity.empPart"/>
        <mapping class="lab4.hiber.entity.department"/>




    </session-factory>
</hibernate-configuration>